.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItem {
  margin: 0 3rem;
}

.signInButton {
  
  cursor: pointer;
  padding: 5px;
  color: rgb(17, 17, 17);
  border-radius: 0.375rem;
  border: 1px solid;
  
}

.signUpButton {
  cursor: pointer;
  padding: 1rem;
  background-color: #f18533;
  color: white;
  border-radius: 0.375rem;
  margin-left: 3rem;
}
.signUpButton:hover {
  opacity: 0.9;
}
.signInButton:hover {
  opacity: 0.9;
}

.homeButton {
  cursor: pointer;
  padding: 1rem;
  color: #335bf1;
  border-radius: 0.375rem;
}
